# Prerequisites
*.d
*.local

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Файл истории
*.~[1234567890]~
__history/
About/__history/
__recovery/
# Разное
*.#
*.ilc
*.ild
*.ilf
*.ils
*.map
*.tds
*.rar
#*.7z
*.zip
*.bat
*.txt
AitotalTMP/
Release/
UnpackTo7Z/
архивы/
файлы/
LogTMP/
2version_comment.txt
1upload_git.cmd



# Директория Win32
Win32/
