# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Файл истории
*.~
__history/
__recovery/
# Разное
*.#
*.ilc
*.ild
*.ilf
*.ils
*.map
*.tds
*.rar
*.7z
*.zip
*.bat

# Директория Win32
Win32/
