#define MY_VS_FFI_FILEFLAGSMASK  0x0000003FL

#include "AitotalVersion.h"

LANGUAGE 9,1
1 VERSIONINFO
FILEVERSION MY_VER_MAJOR,MY_VER_MINOR,MY_VER_BUILD,0

PRODUCTVERSION MY_VER_MAJOR

FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS VS_FF_PRERELEASE
FILEOS VOS_NT_WINDOWS32

FILETYPE VFT_APP
{
   BLOCK "StringFileInfo"
   {
      BLOCK "041904B0"
      {

         VALUE "FileVersion", MY_VERSION
         VALUE "ProductName", "Aitotal\000"
         VALUE "InternalName", "Aitotal.exe\000"
         Value "OriginalFilename", "Aitotal.exe\000"
         VALUE "LegalCopyright", MY_COPYRIGHT
         VALUE "ProductVersion", MY_VERSION
      }
   }

   BLOCK "VarFileInfo" { VALUE "Translation", 0x419, 0x04B0 }
}
7zdll BINARY "img/7z.dll"
libeay32 BINARY "img/libeay32.dll"
ssleay32 BINARY "img/ssleay32.dll"

//ZVUK1 WAVE "img/zvuk1.wav"


